html, body {
    scroll-behavior: smooth;
    height:100%;
    width:100%;
    margin:0;
    padding:0%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFCF9;
}





/* Section 1 formatting
-------------------------------------- */
#section1{
    position: relative;
    height: 800px;
    background: #ED727B;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.imageTitle {
    display: flex;
    align-self: center;
    margin-top: 10% ;
    width: 50%;
    height:auto;
}


.imageEnter {
    display: flex;
    transform: translate(0px, 30px);
    align-self: center;
    margin-top: 45% ;
    width: 100%;
    height:auto;
    z-index: 1; /* set a higher z-index to make it appear on top of foreground */
    pointer-events: auto; /* make it clickable */
}


.foreground{
    width: 100%;
    height:auto;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    z-index: 0;
    pointer-events: none; /* make it ignore mouse clicks */
}

#section1A:hover .imageEnter {
    transform: translateY(-50px);
    transition: transform 0.3s ease-in-out;
}

  


/* nav bar formatting
-------------------------------------- */

nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    color: #FFFCF9;
    padding: 30px ;
    text-align: left;
    
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
  

  
nav a {
    display: block;
    
    background-color: transparent;
    border: 2px solid #FFFCF9;
    color: #FFFCF9;
    border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #FFFCF9;
    color: #ED727B;
    border: 2px solid #FFFCF9;
}

